table.rotations {
	border-collapse: collapse;
	border: 1px solid;
	white-space: pre;
}

table.rotations tr.original {
	background-color: lightblue;
}

table.rotations th {
	border: 1px solid;
	white-space: pre;
	padding: 0.2rem;
}

table.rotations td {
	border: 1px solid;
	white-space: pre;
	padding: 0.2rem;
	font-family: 'Courier New', Courier, monospace;
}
