.app {
	text-align: center;
}

.app-header {
	background-color: #48b6ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 1rem;
}

.algorithm-description {
	background-color: #fcfcfc;
	padding: 1rem;
	max-width: 800px;
	margin: 0 auto;
}

.results {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
