.app {
  text-align: center;
}

.app-header {
  background-color: #48b6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.algorithm {
  background-color: #ffffff;
}