table,
th,
td {
	border: 1px solid;
	white-space: pre;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table.mark-last-row td:nth-last-child(1) {
	background-color: lightcoral;
}
